<html>
  <head>
    <link href="../style/popup_style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
      <div id="logo">
        <img src="../img/logo-full.png">
      </div>
    </header>
    <section id="status">
      <div id="is-activate">
        <span id="is-activate-icon"></span>
        <span class="activation-txt" id="lang-activated">Activated</span>
      </div>
      <div id="is-deactivate">
        <span id="is-deactivate-icon"></span>
        <span class="activation-txt" id="lang-deactivated">Disabled</span>
      </div>
    </section>
    <section id="infos">
      <div id="history-title-container">
        <span class="title" id="history-title">
          History
        </span>
        <span id="arrow-container">
          <div id="left-arrow"><</div>
          <div id="right-arrow">></div>
        </span>
      </div>
      <div id="history-container">
        <div id="no-history">
          <span id="lang-no-history">You don't have history.</span><br />
          <span id="lang-way-album">Ctrl-click on a Deezer album/music cover.</span>
      </div>
    </section>
    <section id="define-website">
      <div class="title" id="lang-define-website">Research websites</div>
      <div id="website-list">
        <div id="no-research-website">
          <span id="lang-no-website">You don't have any website.</span><br />
          <span id="lang-way-website">Ctrl-click on a research input of any website.</span>
        </div>
      </div>
    </section>
    <section id="support">
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QYGE9X76QB9TN" target="_blank" id="lang-support-me">Support Me !</a>
    </section>
    <img id="meddou-logo" src="../img/favicon.png"></img>
    <script type="text/javascript" src="../scripts/translation.js"></script>
    <script type="text/javascript" src="../scripts/popup.js"></script>
  </body>
</html>
